.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
  padding: 15px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: scale(0.1);
}

.modal {
  padding: 40px;
  width: 92vw;
  max-width: 450px;
  height: 92vh;
  max-height: 581px;
  background-color: var(--primery-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 550ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include desk {
    max-width: 528px;
  }
}

.modal__close {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--primery-bgr-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--btn-color);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;

  @include desk {
    line-height: 1.15;
  }
}

.modal-form {
  text-align: center;
}

.modal-form__field {
  margin-bottom: 10px;
}

.textarea-wrap {
  margin-bottom: 20px;
}

.modal-form__input {
  outline: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--title-text-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--btn-color);
  }
}

.modal-form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primery-text-color);
  margin-bottom: 4px;
  text-align: start;
}

.modal-form__container {
  position: relative;
}

.textarea-wrap__textarea {
  display: block;
  outline: none;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--btn-color);
  }
}

.modal-form__svg {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__input:focus + & {
    fill: var(--btn-color);
  }
}

.check-wrap__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  @include desk {
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-wrap__link {
  position: relative;
  color: var(--btn-color);
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--btn-color);
    left: 0;
    bottom: 2px;
    @include desk {
      bottom: 5px;
    }
  }
}

.check-wrap {
  margin-bottom: 30px;
}

.check-wrap__text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .check-wrap__checkbox:checked + & {
    border: none;
    background-color: var(--btn-color);
  }
}

.check-wrap__svg {
  fill: transparent;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .check-wrap__checkbox:checked + .check-wrap__text & {
    border: none;
    fill: var(--primery-bgr-color);
  }
}
