:root {
  --icons-color: #afb1b8;
  --primery-text-color: #757575;
  --primery-bgr-color: #ffffff;
  --secondary-bgr-color: #f5f4fa;
  --title-text-color: #212121;
  --hero-footer-color: #2f303a;
  --btn-color: #2196f3;
  --primery-btn-hover: #188ce8;
  --pf-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
